.icon-arrow-menu{
    font-family: icons;
    display: inline-block;
    background-image: url('icons/16.png');
    background-repeat: no-repeat;
    width: 17px;
    height: 17px;
    position: absolute;
    margin-left: 10px;
}

input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url('icons/52.png') left top no-repeat;
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {
    background:url('icons/54.png') left top no-repeat;
}